:root{
    --poppins: 'Poppins', sans-serif;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--poppins);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 340px;
    margin: 4rem 0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header__content > h1{
    color: rgb(139, 139, 139);
    font-weight: 200;
    font-size: 22px;
}
.header__content > h2{
    font-weight: 700;
    font-size: 21px;
}
.header__content > p{
    padding-top: 2rem;
    color: rgb(175, 175, 175);
    line-height: 1.5;
    font-size: 16px;
}
.cards__sections{
    margin-top: 4rem;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "supervisor"
    "teamBuilder"
    "karma"
    "calculator";
    gap: 2rem;
}
.supervisor{
    grid-area: supervisor;
    border-top: 4px solid var(--cyan);
}
.teamBuilder{
    grid-area: teamBuilder;
    border-top: 4px solid var(--red);
}
.karma{
    grid-area: karma;
    border-top: 4px solid var(--orange);
}
.calculator{
    grid-area: calculator;
    border-top: 4px solid var(--blue);
}
.card{
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 5px 20px 0px rgba(145, 145, 145, 0.5);
}
.card > h3 {
    font-weight: 700;
    font-size: 23px;
    color: rgb(53, 53, 53);
    margin-bottom: 1rem;
}
.card > p{
    color: rgb(182, 182, 182);
    line-height: 1.8;
}
.img__container{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

@media(min-width: 1100px){
    body{
        height: 100vh;
    }
    .main{
        width: 1100px;
        padding: 2rem 0;
    }
    .header{
        align-items: center;
    }
    .header__content{
        width: 45%;
    }
    .cards__sections{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "supervisor teamBuilder calculator"
        "supervisor karma calculator";
    }
    .supervisor{
        align-self: center;
    }
    .calculator{
        align-self: center;
    }
}